[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "==1.5.2"
gunicorn = "*"  # add gunicorn
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
